<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>teste</title>


</head>
<body>

        <p>{{ item }}</p>

<div class="mx-4">
    <form action="/users/1/items/" method="POST" enctype="multipart/form-data">
        <input type="text" name="title">
        <input type="text" name="description">
        <button>teste</button>
    </form>
</div>
</body>
</html>